@use "normalize";
@use "helpers/variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&display=swap");

.weather-app {
  position: relative;
  font-family: "Manrope", sans-serif;

  &__section {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: #d8d8d8;
    overflow: hidden;
    width: 13em;
    height: 3.5em;
    border-radius: 15px;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.2);
  }

  &__section.active {
    width: 3.5em;
    height: 3.5em;
  }

  &__section {
    &.show-current-wear {
      height: 18em;
      width: 15em;
      user-select: none;
    }
  }

  &__search-box {
    padding: 1em;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .active:hover {
      fill: #000;
    }
  }
  &__search-box:hover .active {
    fill: rgba(0, 0, 0, 1);
  }

  &__gear {
    height: 1.6em;
    width: 1.5em;
    cursor: pointer;
    transition: all 0.6s;
    filter: $shadow-btn-default;
  }

  &__gear {
    &.active {
      transform: rotate(-45deg);
      fill: rgba(0, 0, 0, 0.2);
    }
  }

  &__search-bar {
    padding: 0.5em 0.8em;
    border-radius: 15px;
    width: 80%;
    transition: 0.5s ease-in;
  }

  &__search-bar.hidden {
    display: none;
  }

  &__city {
    padding: 0px 1.5em;
    font-size: 0.5em;
    overflow-y: scroll;
    height: 28em;
    width: 95%;

    .list {
      padding: 8px;
      margin: 4px 0;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: grab;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1rem;

      &.dragging {
        opacity: 0.5;
        background-color: $gray-400;
        transform: scale(1.05);
        z-index: 10;
        border: 2px dashed $secondary-light-red;
      }

      &.drag-over {
        background-color: $gray-400;
        border: 1px dashed $gray-500;
      }

      & .city-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      .close {
        color: #aeaead;
        transition: all 0.8s;
        cursor: pointer;
      }
    }

    .list:hover .close {
      color: $dark;
    }

    .error {
      font-size: 17px;
      color: #aeaeae;
      text-align: center;
      padding: 2em 0;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1em;
    font-size: 15px;
    user-select: none;
    gap: 0.5em;
    position: relative;

    .name {
      font-size: 1.4em;
      text-align: center;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;

    .desc {
      text-align: center;
    }

    .wind {
      display: grid;
      grid-template-columns: 1.5rem 4.5rem 4.5rem;
      place-content: center;
      place-items: center;
      justify-content: center;
      gap: 0.3rem;
      text-align: center;
      margin: 0.5rem 0;

      &-img {
        width: 1em;
        height: 1em;
        margin-right: 5px;
      }
    }
  }

  &__block-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -15px;

    .image {
      margin-left: -15px;
    }

    .temp {
      font-size: 35px;
      font-weight: bold;
    }
    .desc {
      text-align: center;
    }
  }
}

.list:active {
  cursor: grabbing;
}
