@use "normalize";
@use "helpers/variables" as *;
@use "./search-gear-block/search-gear-blocks";
@use "./city-list/city-list";
@use "./weather-block/weather-block";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;600&display=swap");

.weather-app {
  position: relative;
  font-family: "Manrope", sans-serif;

  &__section {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: $primary-gray;
    overflow: hidden;
    width: 13em;
    height: 3.5em;
    border-radius: 15px;
    box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.2);
  }
}